cloud_id                 = "cloud_id"
folder_id                = "folder_id"
zone                     = "ru-central1-a"
service_account_key_file = "path to key file"
service_account_id       = "service_account_id"
